html{
    font-family: 'Vazir' , sans-serif;
}

body{
    background:linear-gradient(to top , #56ab2f , #a8e063)fixed ;
}

.game-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.score{
    font-size: 8rem;
}